# List and its default Functions

In [1]:
lst = ["Navaneeth",123,234.56,"a"]
lst.append(23)

In [2]:
lst

['Navaneeth', 123, 234.56, 'a', 23]

In [3]:
lst.index(123)

1

In [6]:
lst.count(123)

1

In [7]:
lst.remove(123)

In [8]:
lst

['Navaneeth', 234.56, 'a', 23]

In [10]:
lst.reverse()

In [11]:
lst

[23, 'a', 234.56, 'Navaneeth']

# Dictionary and its default Functions

In [1]:
dit = {"Name":"Navaneeth","Age":18,"City":"Nandyal"}
dit

{'Name': 'Navaneeth', 'Age': 18, 'City': 'Nandyal'}

In [2]:
dit.pop("City")

'Nandyal'

In [3]:
dit.get("Name")

'Navaneeth'

In [4]:
dit.items()

dict_items([('Name', 'Navaneeth'), ('Age', 18)])

In [6]:
dit.setdefault("City")

In [7]:
dit

{'Name': 'Navaneeth', 'Age': 18, 'City': None}

In [17]:
dit.update()

In [18]:
dit

{'Name': 'Navaneeth', 'Age': 18, 'City': None}

# Sets and its default Functions

In [19]:
sets={"Hari","LetsUpgrade",1,2,3,4,5,6,7,8,9}
sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Hari', 'LetsUpgrade'}

In [23]:
sets.add(10)
sets

{1, 10, 2, 3, 4, 5, 6, 7, 8, 9, 'Hari', 'LetsUpgrade'}

In [26]:
sets.discard(10)
sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Hari', 'LetsUpgrade'}

In [27]:
sets1={1,3,5,7}
sets.intersection(sets1)

{1, 3, 5, 7}

In [28]:
sets1.issuperset(sets)

False

In [30]:
sets1.pop()

1

In [31]:
sets1

{3, 5, 7}

# Tuple and default Methods

In [32]:
mytuple = ("one",2,"three")
mytuple

('one', 2, 'three')

In [33]:
mytuple.index(2)

1

In [35]:
mytuple.count(2)

1

In [36]:
len(mytuple)

3

In [38]:
mytuple1=(1,2,3,45,56)
mytuple1

(1, 2, 3, 45, 56)

In [39]:
mytuple2= mytuple + mytuple1
mytuple2

('one', 2, 'three', 1, 2, 3, 45, 56)

# String and default Methods

In [42]:
name = input("Enter any name: ")

Enter any name: navaneeth

In [43]:
name

'navaneeth'

In [44]:
name.capitalize()

'Navaneeth'

In [47]:
name.count("n")

2

In [49]:
name.format()

'navaneeth'

In [50]:
name.expandtabs()

'navaneeth'

In [51]:
name2 = input("Enter another name: ")

Enter another name: Naga hari

In [53]:
name2.find("n")

-1

In [55]:
name2.isprintable()

True